html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    width: 200px;
    height: 200px;
}

body {
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #EEF0F4;
}

.container {
    width: 320px;
    height: 720px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    border-radius: 5%;
    background-color: #eff2f4;
    max-width: 320px;
    box-sizing: border-box;
}

.container input {
    text-align: center;
}

.design {
    width: 200px;
    height: 50px;
    font-size: 1.3rem;
    font-weight: bolder;
}

#add-button {
    background-color: #b05164;
    color: white;
}

#input-field {
    background-color: #dfe5ec;
}